html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #000000;
    margin: 0;
}

body{
    background-color:#EFEFEF;    
}

html{
    scroll-behavior: smooth;
}

main section {
    height: 60vh;
    margin: 0 auto;
    padding: 100px;
}

body > #nav-wrapper {
    position:fixed;
    width: 100vw;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000000;
    padding: 1vw;
}

nav > a {
    color: white;
    margin: 0 1vmin; 
}

nav > #name {
    font-weight: 400;
}

@media (max-width: 480px) and (min-width: 320px){
    body > #nav-wrapper {
        width: auto;
    }
    nav {
        width: 100vw;
    }
    nav > a {
        font-size: 16px;
    }
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: 300;
    text-transform: uppercase;
}

a:hover{
    animation-duration: 400ms;
    animation-name: line-slide;
    animation-fill-mode: forwards;
}

@keyframes line-slide{
    0%{
        text-decoration: none;
    }
    100% {
        text-decoration: underline;
    }
}

p {
    line-height: 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
h2 {
    text-transform: uppercase;
}
/* 
#my-picture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
    align-self: center;
    display: none;
} */

main > #greeting > h1 {
    font-size: 2em;
}

main > #greeting {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main #about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

main section > h2 {
    text-align: center;
    font-size: 2em;
    border-bottom: 1px solid black;
    padding-bottom: 1em;
}

#greeting > a, #portfolio > p > a {
    color: #000000;
    font-weight: 400;
}